# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# dotenv
.env
.env.*

# Distribution / packaging
dist/
build/
*.egg-info/

# IPython / Jupyter
.ipynb_checkpoints

# Editor folders
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
